files:
  "/opt/application/config/application.properties" :
    mode: "000755"
    owner: root
    group: root
    content: |
     # Disable dev stuff
     spring.devtools.add-properties=false
     spring.devtools.livereload.enabled=false

     # Force the cookie to be only supplied on HTTPS connections (always the case on AWS)
     server.servlet.session.cookie.secure=true

     # As we are proxying through nginx
     server.tomcat.remote-ip-header=x-forwarded-for
     server.tomcat.protocol-header=x-forwarded-proto